@CHARSET "ISO-8859-1";

/*Change this to edit the text of the nav bar */
.navBarText > li > a {
	color: #3377ff;
	font-size: 18px;
}

.navImage {
	width: 100vw;
	padding-left: 0px;
}

.noPadding {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
	
}