@CHARSET "ISO-8859-1";

/* Variables for CSS file */
:root {
  --main-color: #3377ff;
}

/* Header Tabs */
.nav-tabs > li > a {
	color: var(--main-color);
    margin-right: 10px;
    line-height: 1.42857143;
    border: 1px solid;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    border-bottom: 0px;
}


/* Header Tabs - Hover */
.nav-tabs > li > a:hover {
  border-color: var(--main-color);
  background-color: #fff;
  color: #004ce6;
 
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: var(--main-color);
  background-color: #fff;
  border-bottom: 0px;
  color: #004ce6;
}

/* Header Bottom Border */
.nav-tabs {
	border-bottom: 1px solid var(--main-color);
}

/* No Padding for element */
.noPadding {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
	
}

html {
  position: relative; 
  min-height: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html, body {
  margin: 0;
  padding: 0;
}

.pageContentWrapper {
  margin-bottom: 82px;/* Height of footer*/
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:70px;
    background: #cce0ff;
    border-top: 2px solid var(--main-color);
;
}

.navbar-default {
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sidebar.affix {
    position: fixed;
    top:25px;
    width:250px;
  }
  
#sidebar {
  	margin-left: -75px;
}
  
img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}